.wrapper {
  height: 100vh;
  color: white;
}
.wrapper .global-content {
  background-color: #1E2D3B;
  flex-grow: 1;
  margin-top: 60px;
  overflow-y: scroll;
}
.wrapper .global-content .gb-content-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  background-color: #2D3945;
  font-size: 0.9rem;
  margin-bottom: 100px;
}
.wrapper .global-content .gb-content-top .logo {
  font-size: 35px;
  color: #35BD59;
}
.wrapper .global-content .gb-container {
  width: 80%;
  margin: 0 auto;
  max-width: 1800px;
}
.wrapper .global-content .gb-container .gb-card {
  background-color: #2D3945;
  height: 100%;
  font-size: 0.8rem;
  transition: all 0.2s;
  border-radius: 5px;
  cursor: pointer;
}
.wrapper .global-content .gb-container .gb-card:hover {
  transform: scale(1.05);
  background-color: #e7ecf0;
}
.wrapper .global-content .gb-container .gb-card:hover .title-song {
  color: #1E2D3B;
}
.wrapper .global-content .gb-container .gb-card:hover .cover-image .layover {
  display: block;
}
.wrapper .global-content .gb-container .gb-card .cover-image {
  position: relative;
}
.wrapper .global-content .gb-container .gb-card .cover-image .layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: none;
}
.wrapper .global-content .gb-container .gb-card .cover-image .play-hover {
  font-size: 2.5rem;
  animation-name: play;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes play {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.wrapper .global-content .gb-container .gb-card .title-song {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
}
.wrapper .global-content .gb-container .gb-card .author-song,
.wrapper .global-content .gb-container .gb-card .date-song {
  color: #556c83;
}
.wrapper .lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(1.8);
}
.wrapper .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.wrapper .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.wrapper .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.wrapper .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.wrapper .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.wrapper .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.wrapper .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.wrapper .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.wrapper .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.wrapper .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.wrapper .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.wrapper .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.wrapper .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.wrapper .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.wrapper .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.wrapper .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.wrapper .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.wrapper .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
